body{
    font-family: 'Acme', sans-serif;
    background-color: cyan;
}

.header_div{
    background:white;
    color:black;
}

.header_div p{
   font-family: 'Roboto', sans-serif;
   color:red;
   letter-spacing: 2px;
   font-size: 12px;
   font-weight:bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    margin-top: 50px;
    color:green;
    bottom: 0;
    width:100%;
    font-size: 18px;
    background-color: crimson;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px darkgrey;
}

 